body { 
    background-color: rgb(56, 75, 154);
    color: white;
    margin: 0;
    background-image: image("logo.png");
}

header{
    background-color: rgb(31, 17, 144);
    color: white;
}

section{
    display: flex;  
    flex-direction: row;

}

h3{
    font-size: 24px;
}
h2{
    font-size: 30px;
}

nav{
    color:white;
    flex: 6%;  
}

a{
    color: #d6e6ff;
     display: block;
    font-style: oblique;
}
a:hover{
    background-color: #5b2f96;
}

a.a2{
    text-indent: 0px;
    display:contents;
    font-size: 18px;
    font-variant: small-caps;
}
article div div {
    max-width: 300px;
    border: 1px solid white;
    margin: 10px 10px;
    padding: 5px;
    display: block;
}
article div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


div.empty {
    background-color: rgb(41, 62, 180);
}
/*
p{
    color: #e0e0e0;
    font-size: 16px;
}
p.p2 {
    color:#f4d7d7;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
p.p3{
    color:#faf3da;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
p.spacer{
    color: rgba(0, 0, 0, 0);
}
*/

u{
    text-decoration: underline;
}

article{
    background-color: rgb(28, 20, 123);
    width: 100%;
    padding: 20px;
}

article.aa{
    background-color: rgba(255, 0, 0, 0);
    width: 95%;
    margin: 0px;
}


@media screen and (max-width: 600px) {
    section{
        flex-direction: column;
    }
}
/*

s{
    background-color: #580000;
}
*/

footer{
    background-color: #020248;
    color: #aa10a4;
}